<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/alertify")
    <script src="http://vk.com/js/api/xd_connection.js?2" type="text/javascript"></script>
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?84"></script>
    <script type="text/javascript">
        @("VK.init({ apiId: "+MvcApplication3.Global.VK.AppId+", onlyWidgets: true });")
    </script>
</head>
<body>
    <div class="background-gradient"></div>
    <a id="top" href="#top"><i class="icon-white icon-chevron-up"></i></a>
	<div class="container">
	<div class="navbar navbar-inverse">
	<div class="navbar-inner">
		<a class="brand" href="/">TopCraft<sup>.NET</sup></a>
	<ul class="nav">
	<li>
		<a href="/">Главная</a>
	</li>
	<li>
		<a href="/ad">Реклама</a>
	</li>
	</ul>

	<ul class="nav pull-right">
	<li>
		<a href="/Find" rel="tooltip" data-placement="bottom" title="Поиск minecraft сервера">Поиск сервера</a>
	</li>
        @Html.Action("Top", "Menu")
	</ul>
	</div>
	</div>

    @if(Request.Params["Message"]!=null && Request.Params["Message"]!="")
    {
        <div class="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>@Request.Params["Message"]</h4>
        </div>
    }
    <div class="row">
        <div class="span9">
            @RenderBody()
        </div>
            @Html.Action("Side", "Menu")
    </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
